// SPDX-License-Identifier: GPL-3.0-only
// Additional permission: see LICENSE-SDK-EXCEPTION.
#include "resource_ids.h"
IDR_LUCIDE_AIR_VENT RCDATA "../../assets/lucide/air-vent.svg"
IDR_LUCIDE_BLINDS RCDATA "../../assets/lucide/blinds.svg"
IDR_LUCIDE_QUESTION RCDATA "../../assets/lucide/circle-question-mark.svg"
IDR_LUCIDE_CODE RCDATA "../../assets/lucide/code-xml.svg"
IDR_LUCIDE_CPU RCDATA "../../assets/lucide/cpu.svg"
IDR_LUCIDE_DROPLETS RCDATA "../../assets/lucide/droplets.svg"
IDR_LUCIDE_GPU RCDATA "../../assets/lucide/gpu.svg"
IDR_LUCIDE_HARD_DRIVE RCDATA "../../assets/lucide/hard-drive.svg"
IDR_LUCIDE_HEATER RCDATA "../../assets/lucide/heater.svg"
IDR_LUCIDE_HOUSE RCDATA "../../assets/lucide/house.svg"
IDR_LUCIDE_LAMP RCDATA "../../assets/lucide/lamp-ceiling.svg"
IDR_LUCIDE_MONITOR RCDATA "../../assets/lucide/monitor.svg"
IDR_LUCIDE_MUSIC RCDATA "../../assets/lucide/music-2.svg"
IDR_LUCIDE_NETWORK RCDATA "../../assets/lucide/network.svg"
IDR_LUCIDE_PIP RCDATA "../../assets/lucide/picture-in-picture-2.svg"
IDR_LUCIDE_POWER RCDATA "../../assets/lucide/power.svg"
IDR_LUCIDE_ELLIPSIS RCDATA "../../assets/lucide/rectangle-ellipsis.svg"
IDR_LUCIDE_THERMOMETER RCDATA "../../assets/lucide/thermometer.svg"
IDR_LUCIDE_TUBE RCDATA "../../assets/lucide/tube-lotion.svg"
